{% extends "website/index.html" %}
{% load static %}


{% block head %}

    <title>{{ post.title_tag}}</title>
{% endblock %}


{% block content %}

<main>      

    
                    <h3>{{ post.title }}</h3>
                    <p>{{post.description}}</p>
                    <small>{{ post.date|date:"m.d.Y" }} </small> 
                    {% if user.is_authenticated %}
                        <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
                    {% endif %}
                    <hr>

            
                    <p>{{ post.body|safe }}</p>
        </section>
</main>
{% endblock %}