{% extends 'website/index.html' %}

{% block content %}

<main>
    <section>
        {% if user.is_authenticated %}
    <h2>Delete Skill</h2>

    <h3>Delete: {{ skill.title }}</h3>
    <form method="POST">
        {% csrf_token %}
        <strong>Are your Sure?!</strong> <br/> <br/>
        <button class="btn btn-primary">Delete</button> 
        <br>
        <br>
        <a class="btn btn-primary" href="{% url 'portfolio' %}" role="button">Back</a>

    </form>
{% else %}

You're not belong here! Please do not do this!

{% endif %}


    </section>
</main>
         


{% endblock %}