{% extends "website/index.html" %}
{% load static %}


{% block head %}

{% endblock %}

{% block content %}



<section>
    <h3>Hello, There!</h3>
        <ol class="info-list">
          <li><p>👨‍💻 I'm an NYC-based Data Scientist and writer.</p></li>
           <!-- <li><p>💻 I'm a programmer based in NYC. I developed an interest in coding and problem solving in High School. Studied History and CS in college!</p></li>
            <li><p>🖋️ Over the past year, I started writing about my experiences as a developer, on productivity, and history of science and technology.</p></li>-->
            <li><p>✍️ Lately, I've been sharing tales of my developer adventures, productivity hacks, and the fascinating history of science and tech.</p></li>
            <li><p>📈 As a dedicated data professional, I harness my expertise in data exploration and visualization to create impactful ML and AI models that drive value and insights.</p></li>
            <li><p>📖 Passionate about both reading and writing, I challenge myself to absorb a new book each week while steadily working on penning my own literary contribution.</p></li>
        </ol>
    </section>
<section>
    <h3>Personal Interests and Projects</h3>
        <ol class="info-list">
          <li><p>💸 We have launched SanitiveAI, which specializes in conducting Environmental Impact Analysis to help companies reduce their ecological footprint and operating costs. Our AI research lab is focused on leveraging machine learning to provide valuable insights that can help promote environmental stability and sustainability. By utilizing cutting-edge AI technology, we are committed to driving positive change and creating a more sustainable future for all.🌳</p></li>
          <li><p>📷 When I'm not saving the planet or stirring the virtual pot, you'll catch me capturing the beauty of NYC through my lens, chasing soccer balls and tennis balls, and attempting to concoct culinary masterpieces in the kitchen! 🍳</p></li>
        </ol>
</section>

<section>
    <h3>Want to Know More? Check Out My Work!</h3>
<div class="card-container">
    <div class="card">
      <h3>🗂️</h3>
      <a href="{% url 'portfolio' %}" class="btn btn-outline-primary btn-lg mt-3">Portfolio</a>
    </div>
    <div class="card">
      <h3>📋</h3>
      <a href="https://github.com/haltaf000" class="btn btn-outline-secondary btn-lg mt-3">Github</a>
    </div>
    <div class="card">
      <h3>⌨️</h3>
      <a href="{% url 'tech' %}" class="btn btn-outline-primary btn-lg mt-3">Tech</a>
    </div>
  </div>
  
</section>




{% endblock %}
