{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'website/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Haider Altaf</title>
</head>
<body>
    <header>
        <hr/>
        <br>
        <div class="wrapper">
            <div class="one">
                <h1>Haider Altaf</h1>
                <p><span class="multicolortext auto-type"></span></p>
                <section class="contact1">
                    <ul class="contact1-list">
                      <li class="contact1-link">
                        <a href="https://github.com/haltaf000"><ion-icon size="large" name="logo-github"></ion-icon></a>
                      </li>
                      <li class="contact1-link">
                        <a href="https://www.linkedin.com/in/haideraltaf/"><ion-icon size="large" name="logo-linkedin"></ion-icon></a>
                      </li>
                      <li class="contact1-link">
                        <a href="https://medium.com/@haider.altaf1996"><ion-icon size="large" name="logo-medium"></ion-icon></a>
                      </li>
                      <li class="contact1-link">
                        <a href="{% url 'about' %}"><ion-icon size="large" name="mail-outline"></ion-icon></a>
                      </li>
                    </ul>
                  </section>
            </div>
            <div class="two">
                <img src="{% static 'Images/IMG-0046.jpg' %}" class="profile-image"> 
            </div>
        </div>
        <br>
    </header>
    <hr/>
            <nav>
                <p><a href="{% url 'home' %}" class="btn btn-outline-primary btn-lg mt-3">Home</a></p>
                <p><a href="{% url 'portfolio' %}" class="btn btn-outline-primary btn-lg mt-3">Projects</a></p>
                <p><a href="{% url 'writings' %}" class="btn btn-outline-primary btn-lg mt-3">Blog</a></p>
                <p><a href="{% url 'about' %}" class="btn btn-outline-primary btn-lg mt-3">Contact</a></p>
            </nav> 
        <hr/>
    <main>
    {% block content %}
    {% endblock %}
    </main>
<footer>
    <hr>
    <a href="{% url 'login' %}"><p>@</a> Haider Altaf 2023</p>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script>
        var typed = new Typed(".auto-type", {
            strings: ['I am...', 'a Data Scientist Researcher', 'a writer', 'an explorer, photographer, and sports enthusiast.'],
            typeSpeed: 55,
            backSpeed: 10,
            loop: true
        })
    </script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
    </html>