{% extends "website/index.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'website/styles.css' %}">

{% endblock %}

{% block content %}


            <h2>💾 Projects</h2>
            <p class="p1">You can find my projects on github, but listed below are some of my featured work.</a></p>
            <hr>



<section>
        {% for project in object_list %}
        
                    <h3><a href="{{ project.url }}">{{ project.title }}</a></h3> 
                    <p>{{ project.description }}</p>
                    <p><a href="{{ project.github }}">(GitHub)</a></p> 
                    <br>
                    <br>
                    <small>
                        {% if user.is_superuser %}
                            <a href="{% url 'update_project' project.pk %}">(Edit)</a>
                            <a href="{% url 'delete_project' project.pk %}">(Delete)</a>
                        {% endif %}
                    </small>        
        {% endfor %}

</section>

{% if user.is_superuser %}
    <!-- If the user is an admin, show the login, logout, and update post options -->
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'project' %}">Add Project</a>
{% endif %}

{% endblock %}