{% extends "website/index.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'website/styles.css' %}">

{% endblock %}

{% block content %}
<main>

        
            <h2>🛠️ Tech</h2>
            <p class="p1">List of my favorite gear and the stuff I use to stay productive!</a></p>
            <hr>
      


        {% for skill in object_list %}
                    <h3>{{ skill.title }}</h3> 
                    <p>{{ skill.body }}</p>
                    <small>
                        {% if user.is_superuser %}
                            <a href="{% url 'update_skill' skill.pk %}">(Edit)</a>
                            <a href="{% url 'delete_skill' skill.pk %}">(Delete)</a>
                        {% endif %}
                    </small>        
       

        {% endfor %}

</main>

{% if user.is_superuser %}
    
<a href="{% url 'logout' %}">Logout</a>
<a href="{% url 'skill' %}">Add Tech</a>

{% endif %}
{% endblock %}