{% extends "website/index.html" %}
{% load static %}


{% block head %}

{% endblock %}

{% block content %}

            <h2>📝 Posts</h2>
            <p>Read about my adventures, experiences, and opinions</p>
            <hr>


        {% csrf_token %}
        {% for post in object_list %}
            <h3><a href="{% url 'article_details' post.pk %}">{{post.title}}</a></h3>
            <p>{{post.description}}</p>
            <small>{{post.date}}</small>
            {% if user.is_superuser %}
                <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
            {% endif %}
            </small>
            <hr>
            <br>
            
        {% endfor %}
    </div>

    {% if user.is_superuser %}
    
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'post' %}">Add Post</a>
{% endif %}

{% endblock %} 