@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@1,300&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans';
  margin: 0 15rem;
  padding-top: 10px;
  background-color: whitesmoke;
}

@media only screen and (max-width: 1200px) {
  body {
    margin: 0 5rem;
  }
}

@media only screen and (max-width: 767px) {
  body {
    margin: 0 1rem;
  }
}

main {
  padding-bottom: 20px;
}

footer {
  text-align: center;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: black;
}

nav {
  text-align: center;
  word-spacing: 50px;
}

nav p {
  display: inline;    
}

nav a {
  color: black;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.one {
  flex: 1;
  padding-right: 7rem;
}

.two {
  flex: 1;
  padding-left: 29.5rem;
}

.profile-image {
  width: 125px;
  height: 165px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  padding: 5px 0;
}

.contact1-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.contact1-link {
  margin-right: 1rem;
}

.contact1-link a {
  background-color: transparent;
  text-decoration: none;
  font-size: 0.625em;
}

ion-icon {
  color: #333;
}

ion-icon:hover {
  color: #333;
}

.card-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.card {
  width: 30%;
  padding: 20px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  margin-right: 30px;
  transition: all 0.3s ease-in-out;
  background-color: #fff; 
}

.card:hover {
  transform: translateY(-10px);
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9em;
  line-height: 1.5;
}

.card a {
  text-align: center;
  text-decoration: none;
  color: black;
  display: block;
  margin-top: auto;
}

.card a.btn {
  display: inline-block;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: auto;
}

.card a.btn:hover {
  background-color: black;
  color: #fff;
  border-color: black;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

form label {
  display: block;
  margin: 10px 0;
}

form input[type="email"],
form input[type="text"],
form textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  width: 75;
}

form input[type="submit"]:hover {
  background-color: #0062cc;
}

@media only screen and (max-width: 767px) {
  header {
    padding: 0 50px;
  }
  main {
    padding: 0 50px;
  }
  .wrapper {
    flex-direction: column;
  }
  .one {
    padding-right: 0;
    padding-bottom: 2rem;
  }
  .two {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .card-container {
    flex-wrap: wrap;
  }
  .card {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .card {
    width: 100%;
    margin-right: 0;
  }
}